<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="/">
        <img src="assets/images/logo-wide.png" alt="loading" class="mt-3"/>
      </a>
    </li>
    <li class="d-flex justify-content-center">
      <input type="text" class="form-control search-box" placeholder="Search message" [(ngModel)]="search" (ngModelChange)="onUpdateSearch($event)">
    </li>
    <li>
      <div class="container">
        <select class="form-select select-box" id="selectBox" [(ngModel)]="behaviour" (ngModelChange)="onUpdateBehaviour()">
          <option value="regular">Regular</option>
          <option value="happy">Happy</option>
          <option value="sad">Sad</option>
          <option value="excited">Excited</option>
        </select>
      </div>
    </li>
  </ul>
</div>
