<div class="message" [ngClass]="{'user-message': user === 'user', 'bot-message': user === 'bot'}">
  <div [ngClass]="{'message-icon-user': user === 'user', 'message-icon-bot': user === 'bot'}" class="message-icon">
    <i class="bi bi-person" *ngIf="user === 'user'"></i>
    <i class="bi bi-robot" *ngIf="user === 'bot'"></i>
  </div>
  <div class="message-content"
       [ngClass]="{
       'message-content-user': user === 'user',
       'message-content-bot': user === 'bot',
       'message-content-error': error
     }">
    {{ text }}
  </div>

</div>
