.user-message, .bot-message {
  background: linear-gradient(to right, #ebfaeb, #f9fff9);
  color: #004666;
  word-wrap: break-word;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 50px;
  border: 1px solid #ebfaeb;
}

.user-message {
  background: linear-gradient(to right, #e6f7ff, #F1FBFF);
  color: #004666;
  word-wrap: break-word;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 50px;
  border: 1px solid #e6f7ff;
}

.bot-message {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.user-message i{
  margin-right: 5px;
  color: #34a853;
}

.bot-message i {
  margin-right: 5px;
  color: #ffcc00;
}
